* {
  padding: 0%;
  margin: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
.root{
  width: 100%;
  max-width: 900px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  color: whitesmoke;
  align-items: center;
  padding: 2% 6px;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 12px;
}

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px 12px;
  justify-content: center;
  align-items: center;
}

main .user-bar{
  width: 100%;
  max-width: 1200px;
  padding: 24px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .user-bar .search-input{
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: .5px .5px .5px black;
}

main .user-bar .search-input input{
  border-radius: 12px;
  border: none;
  height: 30px;
  padding: 24px 12px;
  outline: none;
  font-size: 18px;
 
}

main .user-bar .search-input span{
  width: 96px;
  text-align: center;
  padding: 0px 12px;
}  

main .user-bar .filter-select{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: .5px .5px .5px black;
  padding: 0px 6px;
  background-color: white;
}
main .user-bar .filter-select select{
  border-radius: 12px;
  outline: none;
  border: none;
  padding: 12px 12px;
  font-size: 18px;
}

main .user-bar .filter-select select option{
  width: 100%;
}
main .container{
  background-color: white;
  display: flex;
  border: 3px solid rgb(40, 40, 40);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 8px 0px 32px 0px;
  padding: 24px 6px;
}
main .container_cards{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
}
main section .card{
  width: 180px;
  border-radius: 12px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all .4s;
}
main section .card:hover{
  cursor: pointer;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

main section .card-header img{
  width: 100%;
  background-color: #2f2f2f;
  border-radius: 12px;
}
main section .card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 12px;
}
main section .card-body-type, main section .card-body-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 6px;
}

main section .card-body-info{
  font-size: 18px;
}
main section .card-body-info p{
  color: #2f2f2f;
}

main section .card-body-type{
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .card-body-type h4{
  border: 2px solid black;
  width: 80px;
  border-radius: 24px;
  text-align: center;
  padding: 6px;
  font-size: 14px;
}

main section .btn-show-more{
  background-color: black;
  color: whitesmoke;
  border: 3px solid black;
  font-size: 24px;
  padding: 6px 24px;
  border-radius: 24px;
  transition: all .4s;
}
main section .btn-show-more:hover{
  cursor: pointer;
  background: white;
  color: black;
}
main section .load-field{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  padding: 12px;
  gap: 12px;
  font-size: 24px;
}
main section .load{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 6px solid #616161;
  border-top: 6px solid black;
  animation: loadRotate 3s linear  infinite ;
}
footer{
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 2% 6px;
  margin-top: 24px;
}
.modal{
  color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
  background-color: #2f2f2f;
}

.modal .progress{
  height: 20px;
  background-color: aliceblue;
  border-radius: 4px;
  border: .5px solid black;
}

.modal .progress .stat{
  height: 20px;
  background-color: darkgoldenrod;
}


@keyframes loadRotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 550px){
  main .user-bar{
    flex-direction: column;
    gap: 12px;
  }
  main .user-bar .search-input, main .user-bar .filter-select{
    width: 90%;
  }
}

